@import "normalize";
@import "globals";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: color("black");
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1,
h2,
h3 {
  color: color("black");
}

// Reset lists
ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

.app {
  color: color("blue", 500);
  height: 100%;
}
